@font-face {
	font-family: "Graphik";
    src: url("https://assets.website-files.com/5d3ac7a15216e366e6929e20/5d3ac7a15216e338a2929e79_Graphik-Semibold-Web.woff2") format("woff2"), url("https://assets.website-files.com/5d3ac7a15216e366e6929e20/5d3ac7a15216e3b2ee929e7a_Graphik-Semibold-Web.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}

main {
	padding: 0em;
}

/* Hero */

.section--hero {
	padding-top: calc(2 * var(--section-default-padding-vertical));
	padding-bottom: calc(2 * var(--section-default-padding-vertical));
}
.section--hero__side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 7.5em;
}
.section--hero__side--left p {
	margin-left: 0em;
}
.section--hero__intro {
	font-size: 2.25em;
}
.section--hero__name {
	color: var(--primary-color);
}
.section--hero__description {
	font-size: 1.2em;
}
.section--hero__textContainer {
	text-align: center;
	text-decoration: none;
	font-size: 2em;
}
.section--hero__cursor {
	animation: flash 0.5s ease-in infinite alternate;
	margin-left: 0.1em;
	border-right: 0.1em solid var(--primary-color);
}
@media (max-width: 641px) {
	.section--hero__textContainer {
		font-size: 1.5em;
	}
}

/* Qualifications */

.qualification__icon--medify {
	border-radius: 0.125em;
	width: 2em;
	padding: 0.25em 0.3125em;
	font-size: 1.5em;
	background-color: var(--on-background-color);
}
.qualification__icon--medify p {
	font-size: 1.5em;
	line-height: 1em;
	font-family: "Graphik", sans-serif;
	font-weight: 700;
	letter-spacing: 0.009em;
	color: var(--background-color);
	-webkit-font-smoothing: antialiased;
}

/* Ask A Medicine Student */

.section--askAMedicineStudent {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--primary-color);
	font-size: 1.15em;
	font-weight: var(--default-font-weight);
	color: var(--on-primary-color);
}
.section--askAMedicineStudent__heading {
	margin-bottom: 0.5em;
	font-size: 1.75em;
	text-align: center;
}
.section--askAMedicineStudent__button, .section--askAMedicineStudent__button:visited {
	margin-top: 0.75em;
	background-color: var(--on-primary-color);
	color: var(--primary-color);
}

/* Animations */

@keyframes flash {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}