.heroContainer {
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	max-width: 1000px;
	height: 20em;
	padding: 1em;
}
.heroContainer .heroSide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	text-align: center;
}
.heroLogo  {
	font-size: 4em;
	color: var(--primary-color);
}
.textContainer {
	font-size: 2em;
}
.cursor {
	animation: flash 0.5s ease-in infinite alternate;
	margin-left: 0.1em;
	border-right: 0.1em solid var(--primary-color);
}

.qualifications {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 1em;
	padding: 1em;
	background-color: lightgray;
}
.qualification {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10em;
	text-align: center;
}
.qualification__icon {
	font-size: 3em;
	color: dimgrey;
}
.qualification__text {
	margin-top: 0.5em;
	font-family: "Allan";
	font-style: italic;
	color: grey;
}

@keyframes flash {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}