:root {
	--mobile-screen-width: 641px;
	--background-color: white;
	--on-background-color: black;
	--surface-color: white;
	--on-surface-color: black;
	--surface-overlay-color: black;
	--primary-color: rgb(30, 144, 255);
	--on-primary-color: white;
	--danger-color: red;
	--default-font-family: "Helvetica", sans-serif;
	--serif-font-family: "Garamond", serif;
	--cursive-font-family: "Apple Chancery", cursive;
	--box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.15);
	--border: var(--border-thickness) solid var(--border-color);
	--border-thickness: 0.2em;
	--border-radius: 1em;
	--section-default-padding-vertical: 2.5em;
	--section-default-padding-horizontal: max(1.5em, env(safe-area-inset-left));
}
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: black;
		--on-background-color: #EFEFEF;
		--surface-color: black;
		--on-surface-color: #EFEFEF;
		--surface-overlay-color: white;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--default-font-family);
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
	background-color: var(--background-color);
	color: var(--on-background-color);
	-webkit-text-size-adjust: 100%;
}
.surface {
	box-shadow: var(--box-shadow);
}
@media (prefers-color-scheme: dark) {
	.surface {
		position: relative;
		box-shadow: none;
	}
	.surface::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border-radius: inherit;
		width: 100%;
		height: 100%;
		background-color: var(--surface-overlay-color);
	}
}

/* Header and Footer */
header, footer {
	display: flex;
	align-items: center;
	padding: 1em;
	padding-left: max(1em, env(safe-area-inset-left));
	padding-right: max(1em, env(safe-area-inset-right));
}

/* Header */

header {
	--box-shadow-color: rgba(30, 144, 255, 0.75);
	position: sticky;
	z-index: 1;
	top: 0;
	box-shadow: 0em -0.35em 1em 0em var(--box-shadow-color);
	height: calc(4em + env(safe-area-inset-top));
	padding-top: env(safe-area-inset-top);
	padding-bottom: 0em;
	background-color: var(--background-color);
}
@media (prefers-color-scheme: dark) {
	header {
		--box-shadow-color: var(--primary-color);
	}
}

/* -- Nav */

.headerLogo {
	margin-right: auto;
	font-size: 1.5em;
	font-weight: bold;
}
nav {
	--gap: 1.5em;
	z-index: 1;
	display: flex;
	align-items: center;
	gap: var(--gap);
}
.navLink {
	position: relative;
	text-decoration: none;
}
.navLink:not(.navLink--contact):not(.navLink--current),
.navLink:not(.navLink--contact):not(.navLink--current):visited {
	color: var(--on-background-color);
}
.navLink--standard {
	opacity: 0.6;
}
.navLink--current, .navLink--current:visited {
	opacity: 1;
	color: var(--primary-color)
}
.navLink--current::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0%;
	margin-top: var(--border-thickness);
	width: 100%;
	height: var(--border-thickness);
	background-color: var(--primary-color);
}
.navLink--contact {
	font-size: 1.1em;
}
#navToggleInput {
	display: none;
}
@media (max-width: 641px) {
	#navToggleInput:not(:checked) ~ nav {
		display: none;
	}
	nav {
		--gap: 2em;
		position: fixed;
		top: 0;
		left: 0;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		padding: var(--gap);
		background-color: var(--background-color);
		font-size: 1.5em;
	}
	.navToggle {
		--gap: 0.4em;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		gap: var(--gap);
		width: calc(var(--gap) * 5);
		height: calc(var(--gap) * 5);
		cursor: pointer;
	}
	.navToggle_line {
		transform-origin: center center;
		border-radius: var(--border-radius);
		height: var(--gap);
		background-color: var(--primary-color);
	}
	#navToggleInput:checked ~ .navToggle .navToggle_line:first-child {
		transform: translateY(calc(var(--gap) * 2)) rotate(45deg);
	}
	#navToggleInput:checked ~ .navToggle .navToggle_line:nth-child(2) {
		opacity: 0;
	}
	#navToggleInput:checked ~ .navToggle .navToggle_line:last-child {
		transform: translateY(calc(var(--gap) * -2)) rotate(-45deg);
	}
}

/* Footer */

footer {
	padding-bottom: max(1em, env(safe-area-inset-bottom));
	background-color: var(--on-background-color);
	color: var(--background-color);
}
.copyrightNotice {
	font-size: 0.8em;
}

/* Main */

main {
	flex-grow: 1;
	font-weight: 400;
}
section {
	width: 100%;
	padding: 2.5em 1.5em;
}
p {
	margin-left: auto;
	margin-right: auto;
	max-width: 72ch;
	line-height: 1.3em;
}
p + p {
	margin-top: 0.7em;
}
a {
	color: dodgerblue;
}
a:visited {
	color: orchid;
}
.primaryButton, .primaryButton:visited {
	outline: none;
	border: none;
	border-radius: var(--border-radius);
	padding: 0.25em 0.75em;
	background-color: var(--primary-color);
	text-align: center;
	text-decoration: none;
	color: var(--on-primary-color);
}
@media (prefers-color-scheme: dark) {
	main {
		font-weight: 350;
	}
}

/* -- Sections */

.section--pageIntro__title {
	margin: 0.5em;
	font-size: 3em;
	text-align: center;
	color: var(--primary-color);
}
.section--pageIntro__description p {
	font-size: 1.3em;
	text-align: center;
}

.section--text {
	padding-top: 1em;
	padding-bottom: 1em;
}
.section--text img {
	display: block;
	margin: 2em auto;
}

.section--doubleItem {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
	max-width: 1000px;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
}
.section--doubleItem--reverse {
	flex-direction: row-reverse;
}
.section--doubleItem > * {
	width: 35%;
}
.section--doubleItem__iconContainer {
	display: grid;
	place-items: center;
}
.section--doubleItem__icon {
	font-size: 8em;
	color: var(--primary-color)
}
.section--doubleItem__textContainer {
	font-size: 1.2em;
}
@media (max-width: 641px) {
	.section--doubleItem {
		flex-direction: column;
		gap: 1.5em;
		padding-left: var(--section-default-padding-horizontal);
		padding-right: var(--section-default-padding-horizontal);
	}
	.section--doubleItem > * {
		width: initial;
	}
	.section--doubleItem__icon {
		font-size: 6em;
	}
}