:root {
	--background-color: white;
	--foreground-color: black;
	--accent-color: dodgerblue;
	--complement-color: white;
	--danger-color: red;
	--default-font-family: "Helvetica", sans-serif;
	--serif-font-family: "Garamond", serif;
	--cursive-font-family: "Apple Chancery", cursive;
	--box-shadow: 0em 0em 1em -0.25em var(--accent-color);;
	--border-radius: 1em;
}
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: black;
		--foreground-color: white;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--default-font-family);
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
	background-color: var(--background-color);
	color: var(--foreground-color);
}

main {
	flex-grow: 1;
	padding: 2em;
}
.primaryButton {
	outline: none;
	border: none;
	border-radius: var(--border-radius);
	padding: 0.25em 0.75em;
	background-color: var(--accent-color);
	text-align: center;
	text-decoration: none;
	color: var(--complement-color);
}

h1.pageTitle {
	margin: 0.5em;
	font-size: 3em;
	text-align: center;
	color: var(--accent-color);
}
p.pageIntro {
	margin: 0.75em;
	font-size: 1.2em;
	text-align: center;
}
p.pageIntro:last-of-type {
	margin-bottom: 3em;
}