:root {
	--border-radius: 1em;
	--primary-color: dodgerblue;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica", sans-serif;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}
.contactLink {
	border-radius: var(--border-radius);
	padding: 0.25em 0.75em;
	background-color: var(--primary-color);
	font-size: 1.1em;
	text-align: center;
	text-decoration: none;
	color: white;
}