.section--askAbout__heading {
	color: var(--primary-color);
}
.section--askAbout__list {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	font-size: 1.15em;
	font-style: italic;
}
.section--otherProducts__heading {
	margin-bottom: 0.75em;
	text-align: center;
	color: var(--primary-color);
}
.section--otherProducts__list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 1.5em;
}
.section--otherProducts__product {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	box-shadow: var(--primary-box-shadow);
	border-radius: var(--border-radius);
	width: 17em;
	height: 26em;
	padding: 1em;
	text-align: center;
	list-style-type: none;
}
.section--otherProducts__product--reducedAvailability > *:not(.section--otherProducts__banner) {
	opacity: 0.5;
	pointer-events: none;
}
.section--otherProducts__banner {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	opacity: 0.75;
	transform: translateY(-50%);
	background-color: var(--danger-color);
	padding: 0.5em;
	font-size: 1.75em;
	font-weight: bold;
	color: white;
}
.section--otherProducts__banner a {
	color: skyblue;
}
.section--otherProducts__productTitle {
	color: var(--primary-color);
}
.section--otherProducts__productButton {
	margin-top: auto;
	font-size: 1.1em;
}