[submodule "projects/solitaire"]
	path = projects/solitaire
	url = github:RokeshArumugam/solitaire.git
[submodule "projects/tvTracker"]
	path = projects/tvTracker
	url = github:RokeshArumugam/tvTracker.git
[submodule "projects/characterSheet"]
	path = projects/characterSheet
	url = github:RokeshArumugam/characterSheet.git
