<a class="navLink headerLogo" href="/index.html">Rokesh Arumugam</a>
<input type="checkbox" name="navToggleInput" id="navToggleInput">
<nav>
	<a class="navLink navLink--standard" href="/ask/">Ask</a>
	<a class="navLink navLink--standard"
		href="/tutoring/">Tutoring</a>
	<a class="navLink navLink--standard"
		href="/comingSoon.html?infoTextId=courses">Courses</a>
	<a class="navLink navLink--standard" href="/projects/">Projects</a>
	<a class="navLink navLink--contact primaryButton" href="/contact/">Contact me</a>
</nav>
<label class="navToggle" for="navToggleInput">
	<div class="navToggle_line"></div>
	<div class="navToggle_line"></div>
	<div class="navToggle_line"></div>
</label>