<a class="navLink headerLogo" href="/index.html">Rokesh Arumugam</a>
<nav>
	<a class="navLink navLink--standard"
		href="/comingSoon.html?infoText=Subjects%20and%20prices%20offered%20will%20be%20added%20soon.">Tutoring</a>
	<a class="navLink navLink--standard"
		href="/comingSoon.html?infoText=Courses%20and%20prices%20(if%20any)%20offered%20will%20be%20added%20soon.">Courses</a>
	<a class="navLink navLink--standard"
		href="/projects/">Projects</a>
	<a class="navLink primaryButton contactLink" href="">Contact me</a>
</nav>